.admin-header{
    gap: 150px;
    font-family: 'Inter', sans-serif;
    background-color: #D4E2DF;
    padding-bottom: 50px;
}

.icon-header{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px black;
    background-color: #D4E2DF;
}

.name-icon {
    font-size: 17px;
    font-weight: 800;
}

.atur-invoices{
    height: 300px;
    gap:50px;
}

.img-post{
    width: 40%;
    background-color: rgba(80, 80, 80, 1);
}

.link-atur-invoices{
    width: 50%;
    padding: 60px 0;
}

.title-atur-invoices{
    margin-bottom: 50px;
}

.atur-pelanggan{
    height: 300px;
    gap:50px;
}

.link-atur-pelanggan{
    width: 50%;
    padding: 60px 0;
}

.title-atur-pelanggan{
    margin-bottom: 50px;
}

.notif-invoices{
    height: 300px;
    gap:50px;
}

.link-notif{
    width: 50%;
    padding: 60px 0;
}

.title-notif{
    margin-bottom: 50px;
}