.client-header{
    gap: 150px;
    margin-top: 80px;
    margin-bottom: 100px;
    font-family: 'Inter', sans-serif;
}


.invoices{
    margin-top: 120px;
    margin-bottom: 100px;
}

.lihat-invoices{
    height: 300px;
    gap:50px;
}

.img-post{
    width: 40%;
    background-color: rgba(80, 80, 80, 1);
}

.link-lihat{
    width: 50%;
    padding: 60px 0;
}

.title-lihat{
    margin-bottom: 50px;
}

.bayar-invoices{
    height: 300px;
    gap:50px;
}

.link-bayar{
    width: 50%;
    padding: 60px 0;
}

.title-bayar{
    margin-bottom: 50px;
}

.notif-pelanggan{
    height: 300px;
    gap:50px;
}

.link-notif-pelanggan{
    width: 50%;
    padding: 60px 0;
}

.title-notif-pelanggan{
    margin-bottom: 50px;
}

.desc{
    font-weight: 200;
}