@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #297061;
}
body {
  font-family: "Poppins";
  margin: 0;
}

.adminLogo {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.containerSidebar {
  font-family: Poppins;
  max-width: 250px;
  height: 100vh;
  color: white;
  background-color: var(--primary-color);
}
.nav-link {
  text-align: start;
  font-size: 14px !important;
  padding-left: 16px !important;
  color: white !important;
}
.nav-link:hover {
  background-color: #0e2520 !important;

  border-radius: 0 !important;
}
.nav-link.active {
  background-color: #0e2520 !important;
  width: 100%;
  border-radius: 0 !important;
  font-weight: 600;
  margin-right: 0 !important;
}
.containerMenu {
  padding: 5px 10px;
  color: white;
}

.iconMenu {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
nav {
  background-color: var(--primary-color) !important;
}

.imgNavbar {
  height: 40px;
  width: 40px;
}

.TextNavbar {
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding-left: 12px;
}

.IconNotif {
  height: 27px;
  width: 27px;
  margin-top: 9px;
}
.dropdown-menu:hover {
  background-color: #d4e2df;
}
.dropdown-menu {
  background-color: white !important;
  padding: 0 !important;
}
.dropdown-divider {
  margin: 0 !important;
}
.navProfile {
  width: 174px !important;
  margin-top: 16px !important;
}
.navProfile .dropdown-item {
  font-weight: 600;
  font-size: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconLogout {
  height: 20px;
  width: 20px;
}
.headerNotif {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  padding: 6px 16px;
}
.navNotif {
  width: 400px !important;
  margin-top: 16px !important;
}
.dropdown-menu.navNotif {
  left: -190px !important;
}
.unreadNotif {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}
.bodyNotif {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
}
.footerNotif {
  font-size: 12px;
  color: #9a9a9a;
}
.containerHeader {
  margin-top: 16px;
}

/* Pelanggan */
.btn-primary.pelanggan {
  width: 146px;
  height: 44px;
  border-radius: 4px;
}
.subHeader {
  margin-top: 30px;
  margin-bottom: 40px;
}
.textHeader {
  font-weight: 600;
  font-size: 28px;
}
.search {
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 400px;
  padding: 9px 16px;
}
.search::placeholder {
  color: #abb5be;
  font-weight: 400;
  font-size: 16px;
}
.inputModal {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.inputModal:focus {
  outline-color: #297061;
}
.btn-modal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 16px;
  gap: 16px;
}
.btn-modal .btn-primary {
  padding: 10px 16px;
  width: 132px;
  border-radius: 4px;
  background-color: #94b7b0;
  font-weight: 600;
  font-size: 16px;
}
.btn-modal .btn-secondary {
  color: #297061;
  font-weight: 600;
  font-size: 16px;
  width: 75px;
  border-radius: 4px;
}
/* Pelanggan */

/* Pengaturan */
.form {
  width: 70%;
}

.form-content {
  gap: 80px;
}

.form-part {
  gap: 50px;
}

.form-part-left {
  width: 50%;
}

.form-part-right {
  width: 50%;
}

.form-submit {
  display: inline-block;
  background: rgba(41, 112, 97, 1);
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.rekening-content {
  gap: 20px;
}

.rekening-content img {
  width: 80px;
  height: 80px;
  background-color: grey;
}

.rekening-data p {
  opacity: 0.6;
}

.add-rekening {
  cursor: pointer;
  font-weight: bold;
  color: rgba(41, 112, 97, 1);
  font-size: 20px;
}

.p-profil {
  width: 200px;
  height: 200px;
  background-color: black;
}

.profil-edit {
  cursor: pointer;
  background-color: rgba(41, 112, 97, 1);
  display: block;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
/* Pengaturan */

/* Riwayat */
.riwayat-heading {
  font-weight: 600;
}
.riwayat-page__navbar ul {
  display: flex;
  gap: 75px;
  padding: 0;
  margin-top: 32px;
}
.riwayat-page__navbar ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.riwayat-page__navbar ul li a {
  text-decoration: none;
  color: #000000;
  position: relative;
}
.riwayat-page__navbar ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -3px;
  left: 0;
  background-color: #45514e;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.25s linear;
  border-radius: 10px;
}
.riwayat-page__navbar ul li a:hover:after {
  transform: scaleY(-1);
  transform-origin: bottom;
}
.riwayat-page__navbar ul li a:hover {
  font-weight: bolder;
}
.riwayat-page__searchbar {
  margin-top: 40px;
}
.riwayat-page__searchbar input {
  padding: 10px;
  width: 25%;
  margin-right: 20px;
  background-color: #dadada;
  border: none;
  border-radius: 5px;
}
.riwayat-page__searchbar button {
  padding: 10px;
  color: #fafafa;
  background-color: #70a096;
  border: none;
  border-radius: 3px;
}
.riwayat-page__searchbar .filter-icon {
  font-size: 28px;
}
.riwayat-kosong__container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.riwayat-kosong__container .riwayat-kosong__heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.riwayat-kosong__container .riwayat-kosong__heading span {
  font-weight: bold;
}
.riwayat-kosong__container button {
  padding: 8px;
  width: 9%;
  color: #fafafa;
  background-color: #297061;
  border: none;
  border-radius: 3px;
}
.riwayat-kosong__container .invoice-icon {
  font-size: 28px;
  margin-right: 6px;
}
.riwayat-list__container {
  margin: 0;
  margin-top: 30px;
}
.table-list {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.table-list tbody tr {
  background: #fafafa;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.box {
  background: #2e9b39;
  border-radius: 10px;
  height: 53px;
  width: 53px;
  margin-right: 5px;
  color: white;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Riwayat */
/* Dashboard */
.dashboard-all {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.dashboard-satu {
  display: flex;
  flex-direction: column;
}
.total-balance {
  display: flex;
  flex-direction: column;
}
.box-total-balance-satu {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 370px;
  height: 133px;
  margin-right: 40px;
  margin-bottom: 16px;
  border-radius: 5px;
}
.total-balance-top {
  display: flex;
  flex-direction: column;
}
.total-balance-bottom {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-bottom: 16px;
  border-radius: 5px;
}
.box-total-balance-bottom-1 {
  display: flex;
  flex-direction: column;
  background-color: #f5c1b7;
  width: 333px;
  height: 99px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
}
.box-total-balance-bottom-1 p.invoice-total {
  padding-left: 24px;
  padding-top: 16px;
  font-size: 14px;
}
.box-total-balance-bottom-2 {
  display: flex;
  flex-direction: column;
  background-color: #bce8c1;
  width: 333px;
  height: 99px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
}
.box-total-balance-bottom-2 p.invoice-total {
  padding-left: 24px;
  padding-top: 16px;
  font-size: 14px;
}
.box-total-balance-top {
  display: flex;
  flex-direction: column;
  background-color: #d4e2df;
  width: 682px;
  height: 99px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
}
.tagihan-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tagihan-total button {
  background: none;
  margin-right: 24px;
  color: #297061;
  border: none;
  margin-bottom: 40px;
  size: 19px;
}
.tagihan-total p {
  font-weight: bold;
  font-size: 20px;
  padding-left: 24px;
}
.box-total-balance-top p.tagihan-judul {
  padding-left: 24px;
  padding-top: 16px;
  font-size: 14px;
}

.box-balance-2 {
  display: flex;
  flex-direction: column;
  background-color: #d4e2df;
  width: 682px;
  height: 512px;
  border-radius: 5px;
}
.box-balance-2 p {
  font-size: 14px;
  padding: 16px;
  font-weight: bold;
  color: #000;
}
.box-balance-2 img {
  font-size: 14px;
  padding: 16px;
}
.box-history-inv {
  display: flex;
  flex-direction: column;
  background-color: #d4e2df;
  width: 439px;
  height: 758px;
  border-radius: 5px;
}
.history-ket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}
.history-ket p {
  font-size: 12px;
}
.history-ket-isi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  background-color: white;
  padding: 13px;
  align-items: center;
  border-radius: 15px;
}
.history-ket-isi-nama {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.history-ket-isi-nama p {
  margin: -16px;
  margin-right: 16px;
}
.history-ket-status p {
  background-color: #eec555;
  border-radius: 15px;
  font-weight: bold;
}
.box-history-inv p {
  font-size: 14px;
  font-weight: bold;
  padding: 16px;
  color: #000;
}
/* Dashboard */

/* Invoice */
.headerInvoice {
  margin-top: 32px;
}
.textSubHeader {
  font-weight: 400;
  font-size: 16px;
}
.detailHeader {
  margin-top: 32px;
}
.header {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
.detailInvoice {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
}
.detailInvoice tr {
  margin-bottom: 12px;
}
.detailInvoice .data {
  padding-left: 10vw;
}
.to {
  margin-left: 20vw;
}
/* Invoice */
