@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
  --primary-color: #297061;
}
body {
  font-family: "Poppins";
  margin: 0;
}

.Wrap {
  background-color: #70a096;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogin {
  max-width: 22.5rem;
  max-height: 710px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 20px 32px;
}
.textGinap {
  font-weight: 700;
  font-size: 32px;
  padding: 0;
  color: var(--primary-color);
}

.input {
  height: 40px;
  width: 100%;
  background: #ffffff;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.2);
  border-radius: 4px;
}
.input:focus {
  outline: #297061 auto 2px;
}
.input_error {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  color: red;
  margin-top: 7px;
  font-size: 12px;
}
.input_error p {
  margin-bottom: 0 !important;
}
.forgetPassword {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
  margin-top: 4px;
  margin-bottom: 32px;
}
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  opacity: 1;
}
.btn-primary:hover {
  opacity: 0.9;
}
.text-divider {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 14px;
  margin: 16px 0;
  font-weight: 400;
  font-size: 14px;
}
.text-divider:before {
  margin-right: 10px;
}
.text-divider:after,
.text-divider:before {
  content: "";
  display: block;
  height: 1px;
  flex: 1;
  background: #252525;
}
.text-divider:after {
  margin-left: 10px;
}
.btn-secondary {
  background-color: #ffffff;
  border: 1px solid var(--primary-color);
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
}
.containerTextRegister {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textRegister {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary-color);
  margin-top: 23px;
}

/* Forget*/
.containerForget {
  width: 360px;
  max-height: 564px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 32px;
}
.textForgetPass {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 32px 0 16px 0;
}
/* Forget */

/* Link Sent */
.containerSent {
  width: 360px;
  max-height: 384.6px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 32px;
}
/* Link Sent */

/* New Password */
.containerNewPass {
  width: 360px;
  max-height: 586.6px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 32px;
}
.inputChangePassword input {
  height: 40px;
  width: 100%;
  background: #ffffff;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 45px;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.2);
  border-radius: 4px;
}
.inputChangePassword input:focus {
  outline: #297061 auto 2px;
}
.inputChangePassword .icon {
  position: absolute;
  margin-left: 265px;
  margin-top: 7px;
}

.successChange:hover {
  color: #ffffff;
}
/* New Password */

/* Tostify */
.Toastify__toast-icon svg {
  fill: var(--primary-color);
}
.Toastify__toast--error svg {
  fill: red;
}
.Toastify__progress-bar--success {
  background: var(--primary-color);
}
/* Tostify */
