@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.register-container{
    font-family: 'Poppins', sans-serif;
}
.app-name_register{
    text-align: center;
    color: #297061;
    margin-top: 20px;
    font-weight: bold;
}
.register-input{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 0 20px;
}
.register-input input{
    width: 100%;
    padding: 8px;
    padding-left: 20px;
    margin: 0 20px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.2);
}
.register-input input:focus{
    outline: #297061 auto 2px;
}
.register-input input::placeholder{
    color: #696969;
}
.register-button{
    border: none;
    background-color: #297061;
    width: 90%;
    margin-left: 20px;
    margin-top: 25px;
    color: #FFFFFF;
    padding: 7px;
    border-radius: 11px;
    font-weight: 600;
}
.register-button:hover{
  box-shadow: 0 15px 15px -15px rgba(41, 112, 97, 0.7);
  width: 90%;
  transform: translateY(-2px);
}
.register-link:hover{
  font-weight: bolder;
}
.register-input_error{
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    color: red;
}