@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.register-business_container {
  font-family: "Poppins", sans-serif;
}
.app-name_registerbusiness {
  text-align: center;
  color: #297061;
  margin-top: 20px;
  font-weight: bold;
}
.register-business_input {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0 20px;
}
.register-business_input input {
  width: 100%;
  padding: 8px;
  padding-left: 20px;
  margin: 0 20px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.2);
}
.register-business_input select {
  width: 100%;
  padding: 8px;
  padding-left: 20px;
  margin: 0 20px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.2);
}
.register-business_input input:focus {
  outline: #297061 auto 2px;
}
.register-business_input select:focus {
  outline: #297061 auto 2px;
}
.register-business_input input::placeholder {
  color: #696969;
}
.register-business_button {
  border: none;
  background-color: #297061;
  width: 90%;
  margin-left: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  color: #ffffff;
  padding: 7px;
  border-radius: 4px;
  font-weight: 600;
}
.register-business_button:hover {
  box-shadow: 0 15px 15px -15px rgba(41, 112, 97, 0.7);
  width: 90%;
  transform: translateY(-2px);
}
.register-business_input-image {
  width: 100%;
  height: 120px;
  border: rgba(41, 112, 97, 0.7) dashed 1px;
  border-radius: 3px;
  position: relative;
}
.label-input_image {
  text-align: center;
  position: absolute;
  top: 25px;
  left: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #696969;
}
.label-input_image span {
  font-size: 30px;
}
.register-business_input-image input {
  padding: 35px 60px;
  width: 100%;
  opacity: 0;
  z-index: -1;
}
.register-business_error {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  color: red;
}
