@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&family=Quicksand:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
  --primary-color: #297061;
}
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
.mt-3 {
  margin-top: 32px !important;
}
.mt-1 {
  margin-top: 12px !important;
}
.mt-7 {
  margin-top: 5px !important;
}
/* admin */
.admin-header {
  gap: 150px;
  font-family: "Inter", sans-serif;
  background-color: #d4e2df;
  padding-bottom: 50px;
}
/* client */
.client-header {
  gap: 150px;
  font-family: "Inter", sans-serif;
  background-color: #d4e2df;
  padding-bottom: 50px;
}

.container-fitur-page {
  margin: 64px 0;
  max-height: 472px;
}

.container-fitur-page .title {
  font-weight: 600;
  font-size: 28px;
}
.container-fitur-page .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.link-lihat {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

/* styling navbar */

.navBar {
  margin-bottom: 60px;
  margin-top: 34px;
}
.gap-lg-5 {
  gap: 40px !important;
}

.logo {
  width: 100px;
  height: 50px;
  color: #297061;
  font-size: 32px;
  font-weight: bold;
  font-family: "Poppins";
}

.navLink {
  padding: 12px 32px;
  color: var(--primary-color);
}
/* .navbar-nav li a :hover {
  font-weight: bolder;
  border-bottom: #297061 2px solid;
} */

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.signup {
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 16px;
  color: white;
  background-color: #297061;
}

.login {
  padding: 10px 16px;
  border: 1px solid #297061;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}
.login:hover {
  box-shadow: 0 15px 15px -15px rgba(41, 112, 97, 0.7);
  transform: translateY(-1px);
}
.signup:hover {
  box-shadow: 0 15px 15px -15px rgba(41, 112, 97, 0.7);
  transform: translateY(-1px);
}

/* styling navbar */

/* styling hero */
.hero {
  height: 500px;
  margin-bottom: 100px;
}

.hero-left {
  width: 40%;
  padding: 50px 0;
}

.hero-left h1 {
  font-weight: 600;
  font-size: 40px;
}
.hero-subjudul {
  width: 400px;
}

.hero-subjudul h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}
.hero-detail {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
}

.hero-button {
  gap: 20px;
  margin-top: 46px;
}

.daftar {
  font-size: 20px;
  text-align: center;
}

.dapatkan {
  font-size: 20px;
  text-align: center;
}
/* styling hero */

/* content */
.bg-fitur {
  background-color: #d4e2df;
  padding: 30px 0px;
}

.title-main {
  margin-top: 30px;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
}

.desc-title-main {
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 70px;
}

.options-tab {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  padding: 8px;
  gap: 10px;
  background-color: #0e2520;
  border-radius: 15px;
}

.options-tab .client-admin {
  width: 100%;
  cursor: pointer;
  color: white;
  background-color: #0e2520;
  border: 0px;
  border-radius: 10px;
}

.options-tab .client-admin p {
  font-size: 25px;
}
.client-admin.active {
  cursor: pointer;
  color: black;
  background: #70a096;
  font-weight: bold;
  border-radius: 8px;
}

.client-admin:hover {
  cursor: pointer;
  color: black;
  background: #70a096;
  font-weight: bold;
  border-radius: 8px;
}

/* content */

/* get app */
.get-app {
  height: 500px;
  gap: 128px;
}

.title-getApp {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.button-getApp {
  width: 196px;
  height: 64px;
  padding: 8px;
  color: black;
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
}

.button-getApp p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.pstore {
  font-weight: 700;
  font-size: 20px;
}

.logo-android {
  color: white;
}
/* get app */

.Wrap {
  background-color: #70a096;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogin {
  width: 360px;
  max-height: 920px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 32px 32px;
}
.textGinap {
  font-weight: 700;
  font-size: 32px;
  padding: 0;
  color: var(--primary-color);
}

.input {
  height: 38px;
  width: 100%;
  background: #ffffff;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.2);
  border-radius: 4px;
}
.input:focus {
  outline: #297061 auto 2px;
}
.input_error {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  color: red;
  margin-top: 7px;
  font-size: 12px;
  margin-left: 5px;
}
.input_error p {
  margin-bottom: 0 !important;
}
.forgetPassword {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
  margin-top: 4px;
  margin-bottom: 32px;
}
.forgetPassword:hover {
  color: var(--primary-color);
  opacity: 0.8 !important;
}
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  opacity: 1;
}
.btn-primary:hover {
  box-shadow: 0 15px 15px -15px rgba(41, 112, 97, 0.7);
  transform: translateY(-1px);
}
.text-divider {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 14px;
  margin: 16px 0;
  font-weight: 400;
  font-size: 14px;
}
.text-divider:before {
  margin-right: 10px;
}
.text-divider:after,
.text-divider:before {
  content: "";
  display: block;
  height: 1px;
  flex: 1;
  background: #252525;
}
.text-divider:after {
  margin-left: 10px;
}
.btn-secondary {
  background-color: #ffffff;
  border: 1px solid var(--primary-color);
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
}
.btn-secondary:hover {
  box-shadow: 0 15px 15px -15px rgba(41, 112, 97, 0.7);
  transform: translateY(-1px);
}
.textRegister {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary-color);
  margin-top: 23px;
}
.textRegister:hover {
  color: var(--primary-color);
  opacity: 0.8 !important;
}

/* Forget*/
.containerForget {
  width: 360px;
  max-height: 564px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 32px;
}
.textForgetPass {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 32px 0 16px 0;
}
/* Forget */

/* Register */
.textDetailSandi {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  padding: 0 8px;
  color: #555555;
}
/* Register */

/* Link Sent */
.containerSent {
  width: 360px;
  max-height: 384.6px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 32px;
}
/* Link Sent */

/* New Password */
.containerNewPass {
  width: 360px;
  max-height: 586.6px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 32px;
}
.inputChangePassword input {
  height: 40px;
  width: 100%;
  background: #ffffff;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 45px;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.2);
  border-radius: 4px;
}
.inputChangePassword input:focus {
  outline: #297061 auto 2px;
}
.inputChangePassword .icon {
  position: absolute;
  margin-left: 265px;
  margin-top: 7px;
}

.successChange:hover {
  color: #ffffff;
}
/* New Password */

/* Tostify */
.Toastify__toast-icon svg {
  fill: var(--primary-color);
}
.Toastify__toast--error svg {
  fill: red;
}
.Toastify__progress-bar--success {
  background: var(--primary-color);
}
/* Tostify */
